@tailwind base;
@tailwind components;
@tailwind utilities;

/* Basic body */
body { background-color: #0F1B1D; color: white; font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial; }
